pdfminer.six
pandas
openpyxl
pysftp
cryptography
paramiko
xmltodict
dicttoxml
tinyrpc
pyxirr
numpy-financial
yfinance
markdownify
btclib
py3o.template
py3o.formats
packaging
pip install git+https://github.com/elmeriniemela/pybitcoinkernel.git
