pdfminer.six
pandas
openpyxl
pysftp
cryptography
paramiko
xmltodict
dicttoxml
pyxirr
numpy-financial
yfinance
markdownify
py3o.template
py3o.formats
packaging
bitwalkit
git+https://github.com/elmeriniemela/bitoplens.git
