.o_dashboard {
    background-color: gray;
}

.o_kpi_row {
    padding-top: 8px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.57);
}

.o_dasboard_card {
    height: 670px;
}

.o_pie_chart {
    height: 390px;
}

.o_line_chart {
    height: 330px;
}
