.o_form_button_save {
    /* Increase button size */
    font-size: 18px !important;
}
.o_form_button_cancel {
    /* Increase button size */
    font-size: 18px !important;
}

$o-cp-button-sm-no-border-padding: 1.0rem;
